#container {
    position: absolute;
    top: 60%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: aqua; */
}
.mode {
    /* width: fit-content; */
    /* padding: 20%; */
    /* margin: 0; */
    border: 5px outset;
    border-radius: 10%;
    background-color: rgb(255, 228, 196);
    margin: 20px;
    transform: translate(0, 60%);
}
a {
    color: inherit;
    text-decoration: none;
}
#menu > a {
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 0.4vw;
}
.btn {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 180%;
    white-space: nowrap;
    /* background-color: aliceblue; */
}
.mode:hover {
    background-color: rgba(255, 228, 196, 0.6);
    border: 5px inset;
}
h1 {
    font-size: 400%;
    position: absolute;
    transform: translate(0, -50%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1.name {
    top: 15%;
    white-space: nowrap;
}
h2.name {
    position:absolute;
    top: 27%;
}
b {
    font-size: 5vh;
}
#menu {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 11vh;
    background-color: rgb(243, 237, 221);
    border: 2px solid;
    z-index: 1000;
}
img.logo {
    width: 10vh;
}
#board {
    top: 11vh;
    position: relative;
    display: grid;
    overflow: auto;
}
#cover {
    position: absolute;
    display: flex;
    width: 70vw;
    height: 80vh;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.cell {
    border: 1px groove gray;
    position: relative;
}
.cell > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor:not-allowed;
}
.replay {
    background-color: brown;
    color: aliceblue;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 120%
}
.replay:hover {
    background-color: rgba(165, 42, 42, 0.643);
    cursor: pointer;
}
.replay:active {
    background-color: rgba(199, 121, 19, 0.643)
}
#playerturn {
    display: initial;
}
.turnHeader {
    margin-left: 2%;
}
.choice {
    border: 2px outset;
    position: relative;
}
.choice:hover {
    border: 2px inset;
}
.choice > img {
    top: 0;
    left: 0;
}
.choice > img.imgplayer {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.choice:active {
    background-color: rgba(255, 228, 196, 0.6);
}
.choice > img.chosen {
    position: absolute;
    width:100%;
    height:100%;
}