#container {
    position: absolute;
    top: 60%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: aqua; */
}
.mode {
    /* width: fit-content; */
    /* padding: 20%; */
    /* margin: 0; */
    border: 5px outset;
    border-radius: 10%;
    background-color: rgb(255, 228, 196);
    margin: 20px;
    transform: translate(0, 60%);
}
a {
    color: inherit;
    text-decoration: none;
}
.btn {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 180%;
    white-space: nowrap;
    /* background-color: aliceblue; */
}
.mode:hover {
    background-color: rgba(255, 228, 196, 0.6);
    border: 5px inset;
}
h1 {
    font-size: 400%;
    position: absolute;
    transform: translate(0, -50%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1.name {
    top: 15%;
}
b {
    font-size: 200%;
}
.menu {
    position: relative;
    display: flex;
    width: 100%;
    height: 10vh;
    overflow-x: scroll;
    background-color: cadetblue;
}
#cover {
    position: absolute;
    display: flex;
    width: 70vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}